style.element {
}

.app {
  display: -webkit-flex;
  display: flex;
}

.title { /*Say it in sugar, share it in sugar*/
  color: #bfbfbf;
  font: 40px snell roundhand, italic;
  text-align: center;
}

.titlebox { /*Art in Sugar Celebration Cakes*/
  color: #bfbfbf;
  font: 40px snell roundhand, italic; /*font was not available to use in atom, so found out which font-family it belongs to on following link https://www.w3.org/TR/2009/CR-CSS2-20090908/fonts.html#sans-serif-def I then typed "snell roundhand, italic" and it worked*/
  text-align: center;
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 10px;
  margin-top: 200px;
  margin-bottom: 300px;
  margin-left: 60px;
}
/*fonts from www.w3schools.com/css/css_align.asp and https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */

p {
  color: #bfbfbf;
  font: 18px helvetica, sans-serif;
  text-align: justify;
  position: absolute;
  right: 0px;
  width: 635px;
  padding: 10px;
  margin-top: 100px;
  margin-right: 20px;
}

span {
  position: absolute;
  right: 0px;
  width: 600px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-color: #eddeed;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #eddeed;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #eddeed;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #eddeed;
  border-top-style: solid;
  border-top-width: 1px;
}
